/* =========================
   HERO
========================= */
.secao-hero {
  min-height: 100vh;
  background: transparent;
}

.hero-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-white);
}

.hero-texto {
  flex: 1;
}

.hero-titulo {
  font-family: "Poppins";
  font-size: var(--font-size-hero-title);
  font-weight: var(--font-extrabold);
  color: var(--color-brand-blue);
}

.hero-descricao {
  max-width: 540px;
  margin: 20px 0 40px;
  color: var(--color-black);
  font-size: var(--font-size-medium);
  font-weight: var(--font-regular);
  line-height: 1.7;
}

.hero-acoes {
  display: flex;
  gap: 23px;
}

.botao-catalogo {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--color-white);
  background: var(--color-brand-red);
  border-radius: var(--border-radius-medium);
  font-weight: var(--font-medium);
  transition: 0.5s ease;
}

.botao-catalogo:hover {
  color: var(--color-brand-red);
  border-color: var(--color-brand-red);
  background: transparent;
}

.hero-imagem-container {
  max-width: 500px;
  margin-right: 30px;
}

/* =========================
   FILTROS
========================= */

.secao-filtros {
  padding: 60px 0;
  background-color: var(--color-brand-gray);
}

.filtros-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
}

.filtro-btn {
  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;


  background: var(--color-white);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  font-family:"poppins" ;
  font-size: var(--font-size-medium);
  font-weight: var(--font-bold);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.filtro-natureza {
  color: var(--color-black);
  border-color: var(--color-black);
}

.filtro-natureza:hover {
  transform: scale(1.05);
  
}

.filtro-natureza.ativo {
  background: var(--color-natureza);
  color: var(--color-white);
  border-color: var(--color-natureza);
  box-shadow: 0 0 25px rgba(46, 125, 50, 0.6);
}

.filtro-restaurantes {
  color: var(--color-black);
  border-color: var(--color-black);
}

.filtro-restaurantes:hover {
  transform: scale(1.05);
}

.filtro-restaurantes.ativo {
  background: var(--color-restaurantes);
  color: var(--color-white);
  border-color: var(--color-restaurantes);
  box-shadow: 0 0 25px rgba(198, 40, 40, 0.6);
}

.filtro-bares {
  color: var(--color-black);
  border-color: var(--color-black);
}

.filtro-bares:hover {
  transform: scale(1.05);
}

.filtro-bares.ativo {
  background: var(--color-bares);
  color: var(--color-white);
  border-color: var(--color-bares);
  box-shadow: 0 0 25px rgba(249, 168, 37, 0.6);
}

.filtro-eventos {
  color: var(--color-black);
  border-color: var(--color-black);
}

.filtro-eventos:hover {
  transform: scale(1.05);
}

.filtro-eventos.ativo {
  background: var(--color-eventos);
  color: var(--color-white);
  border-color: var(--color-eventos);
  box-shadow: 0 0 25px rgba(21, 101, 192, 0.6);
}

/* =========================
   LOCAIS
========================= */

.secao-locais {
  margin-top: 80px;
  padding: 0 0 80px;
}

.locais-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.local-card {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 28px;

  background: var(--color-white);
  border-radius: 20px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  font-family: "Poppins", sans-serif;
}

.local-nome {
  margin-bottom: 16px;

  color: var(--color-brand-blue);

  font-size: 1.8rem;
  font-weight: var(--font-bold);
}


/* =========================
   CARROSSEL
========================= */

.carrossel-area {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 12px;
}

.local-carrossel {
  flex: 1;
}

.carrossel-imagem-container {
  width: 100%;
  height: 320px;

  overflow: hidden;

  border-radius: var(--border-radius-small);
  background: var(--color-brand-gray);
}

.carrossel-imagem {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
}

.carrossel-imagem.trocando {
  opacity: 0;
  transform: translateX(20px);
}


/* =========================
   BOTÕES
========================= */

.carrossel-botao {
  width: 42px;
  height: 42px;

  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-circle);

  background: rgba(0, 0, 0, 0.45);
  color: var(--color-white);

  font-size: 1.3rem;

  transition:
    transform 0.3s ease,
    background 0.3s ease;
}

.carrossel-botao:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.08);
}


/* =========================
   INDICADORES
========================= */

.carrossel-indicadores {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin: 14px 0 18px;
}

.indicador {
  width: 9px;
  height: 9px;

  border-radius: var(--border-radius-circle);

  background: var(--color-brand-gray);

  transition: background-color 0.35s ease;
}

.indicador.ativo {
  background: #555555;
}


/* =========================
   TEXTOS
========================= */

.local-descricao {
  margin-bottom: 12px;

  color: var(--color-black);

  font-size: var(--font-size-normal);
  font-weight: var(--font-regular);

  line-height: 1.6;
}

.local-horario {
  color: #666666;

  font-size: var(--font-size-small);
  font-weight: var(--font-light);
}

/* =========================
   admin
========================= */

.secao-admin-home {
  display: none;
  padding: 40px 0;
}

.secao-admin-home.visivel {
  display: block;
}

.admin-home-botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.admin-home-btn {
  min-height: 110px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background: var(--color-brand-blue);
  color: var(--color-white);

  border-radius: 20px;

  font-weight: var(--font-bold);
  text-align: center;

  transition:
    transform 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.admin-home-btn:hover {
  background: var(--color-brand-red);
  transform: scale(1.03);
  box-shadow: 0 10px 24px rgba(163, 0, 0, 0.25);
}


/* =========================
   RESPONSIVIDADE
========================= */
@media screen and (max-width: 900px) {
  .hero-conteudo {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-imagem-container {
    max-width: 240px;
    margin-right: 0;
    margin-top: 30px;
  }

  .hero-titulo,
  .hero-descricao {
    max-width: 100%;
  }

  .hero-acoes {
    justify-content: center;
  }

  .filtro-btn {
  width: 140px;
  height: 140px;
}

 .local-card {
    padding: 24px;
  }

  .local-nome {
    margin-bottom: 20px;

    font-size: 1.8rem;
    line-height: 1.2;
  }

  .carrossel-area {
    gap: 10px;
  }

  .carrossel-imagem-container {
    height: 250px;
  }

  .carrossel-botao {
    width: 40px;
    height: 40px;

    font-size: 1.2rem;
  }

  .carrossel-indicadores {
    gap: 8px;
    margin: 16px 0 20px;
  }

  .indicador {
    width: 9px;
    height: 9px;
  }

  .local-descricao {
    font-size: var(--font-size-normal);
    line-height: 1.6;
  }

  .local-horario {
    font-size: 0.85rem;
  }

 .admin-home-botoes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .admin-home-botoes {
    grid-template-columns: 1fr;
  }
}