<header class="cabecalho">
    <nav class="menu-navegacao conteudo-secao">

        <!-- Logo -->
        <a href="home.html" class="logo-link">
            <img
                src="assets/img/logo_vali_tatu-sem-fundo.png"
                alt="Logo da Vali"
                class="logo-imagem"
            >
        </a>

        <!-- Botão abrir menu mobile -->
        <button
            id="botao-abrir-menu"
            class="fas fa-bars menu-botao-abrir"
            type="button"
            aria-label="Abrir menu"
        ></button>

        <!-- Menu -->
        <ul class="menu-lista">

            <!-- Botão fechar menu mobile -->
            <li class="menu-item menu-item-fechar">
                <button
                    id="botao-fechar-menu"
                    class="fas fa-times menu-botao-fechar"
                    type="button"
                    aria-label="Fechar menu"
                ></button>
            </li>

            <li class="menu-item">
                <a href="home.html" class="menu-link">
                    Home
                </a>
            </li>

            <li class="menu-item">
                <a href="catalogo.html" class="menu-link">
                    Catálogo
                </a>
            </li>

            <li class="menu-item">
                <a href="sobre_nos.html" class="menu-link">
                    Sobre nós
                </a>
            </li>

            <li class="menu-item">
                <a href="login.html" class="menu-link">
                    Login
                </a>
            </li>

        </ul>

    </nav>
</header>